@import "./colors.scss";

.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 2em;
  cursor: pointer;
  border: 0;
  display: inline-block;
};

.btn-primary {
  @extend .btn;
  background-color: $primaryColor
}