@import "./colors.scss";

@mixin btn() {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
};

@each $color, $val in $colors {
  .btn-#{$color} {
    @include btn();
    background-color: $val;
    &:hover {
      background-color: darken($val, 5%);
    };
    &:active, &:focus {
      background-color: lighten($val, 5%)
    }
  }
}

.btn-nav {
  @include btn();
  background-color: $primaryColor;
  font-size: 1.5em;
  padding: 22px;
  &:hover {
    background-color: darken($primaryColor, 5%);
  };
  &:active, &:focus {
    background-color: lighten($primaryColor, 5%)
  }
}