@import "./colors.scss";

@mixin btn() {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
}

@each $color, $val in $colors {
  .btn-#{$color} {
    @include btn();
    background-color: $val;
    &:hover {
      background-color: darken($val, 5%);
    }
    &:active,
    &:focus {
      background-color: lighten($val, 5%);
    }
  }
}

.btn-nav {
  @include btn();
  background-color: $primaryColor;
  font-size: 1.5em;
  padding: 1em;
  &:hover {
    background-color: darken($primaryColor, 5%);
  }
  &:active,
  &:focus {
    background-color: lighten($primaryColor, 5%);
  }
}

.btn-icon {
  @include btn();
  background-color: $primaryColor;
  font-size: 1em;
  padding: 0px 5px;
  &:hover {
    background-color: darken($primaryColor, 5%);
  }
  &:active,
  &:focus {
    background-color: lighten($primaryColor, 5%);
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group {
  @extend .btn;
}

.btn-group button {
  flex: 1;
  border: 1px solid darken($tertiaryColor, 90%);
  font-size: 12px;
  border-radius: 3px;
  &:hover {
    background-color: darken($tertiaryColor, 20%);
  }
  &:active,
  &:focus {
    background-color: $primaryColor;
  }
  &:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
}
@media (max-width: 360px) {
  .btn-group button {
    font-size: 6px;
  }
  .btn-icon {
    font-size: 16px;
  }
}
