.btn-primary {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: #00735c;
}

.btn-primary:hover {
  background-color: #005a48;
}

.btn-primary:active, .btn-primary:focus {
  background-color: #008d70;
}

.btn-secondary {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: #e5a298;
}

.btn-secondary:hover {
  background-color: #e09084;
}

.btn-secondary:active, .btn-secondary:focus {
  background-color: #eab4ac;
}

.btn-tertiary {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: #c1d9b7;
}

.btn-tertiary:hover {
  background-color: #b3d0a6;
}

.btn-tertiary:active, .btn-tertiary:focus {
  background-color: #cfe2c8;
}

.btn-success {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: #afffaf;
}

.btn-success:hover {
  background-color: #96ff96;
}

.btn-success:active, .btn-success:focus {
  background-color: #c9ffc9;
}

.btn-error {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: #ffafaf;
}

.btn-error:hover {
  background-color: #ff9696;
}

.btn-error:active, .btn-error:focus {
  background-color: #ffc9c9;
}

.btn-info {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: #ffffaf;
}

.btn-info:hover {
  background-color: #ffff96;
}

.btn-info:active, .btn-info:focus {
  background-color: #ffffc9;
}

.btn-blue {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: blue;
}

.btn-blue:hover {
  background-color: #0000e6;
}

.btn-blue:active, .btn-blue:focus {
  background-color: #1a1aff;
}

.btn-red {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: red;
}

.btn-red:hover {
  background-color: #e60000;
}

.btn-red:active, .btn-red:focus {
  background-color: #ff1a1a;
}

.btn-yellow {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: yellow;
}

.btn-yellow:hover {
  background-color: #e6e600;
}

.btn-yellow:active, .btn-yellow:focus {
  background-color: #ffff1a;
}

.btn-green {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: green;
}

.btn-green:hover {
  background-color: #006700;
}

.btn-green:active, .btn-green:focus {
  background-color: #009a00;
}

.btn-purple {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: purple;
}

.btn-purple:hover {
  background-color: #670067;
}

.btn-purple:active, .btn-purple:focus {
  background-color: #9a009a;
}

.btn-grey {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: grey;
}

.btn-grey:hover {
  background-color: #737373;
}

.btn-grey:active, .btn-grey:focus {
  background-color: #8d8d8d;
}

.btn-black {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: black;
}

.btn-black:hover {
  background-color: black;
}

.btn-black:active, .btn-black:focus {
  background-color: #0d0d0d;
}

.btn-white {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: white;
}

.btn-white:hover {
  background-color: #f2f2f2;
}

.btn-white:active, .btn-white:focus {
  background-color: white;
}

.btn-nav {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: #00735c;
  font-size: 1.5em;
  padding: 22px;
}

.btn-nav:hover {
  background-color: #005a48;
}

.btn-nav:active, .btn-nav:focus {
  background-color: #008d70;
}

.btn-icon {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: #00735c;
  font-size: 1em;
  padding: 0px 5px;
}

.btn-icon:hover {
  background-color: #005a48;
}

.btn-icon:active, .btn-icon:focus {
  background-color: #008d70;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-group {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border: 0;
  display: inline-block;
}

.btn-group button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid black;
  font-size: 12px;
  border-radius: 0;
}

.btn-group button:hover {
  background-color: #88b674;
}

.btn-group button:active, .btn-group button:focus {
  background-color: #00735c;
}

.btn-group button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}
/*# sourceMappingURL=buttons.css.map */