$primaryColor: #00735c;
$secondaryColor: #e5a298;
$tertiaryColor: #c1d9b7;
$neutralColor: rgb(240, 240, 240);
$successColor: rgb(175, 255, 175);
$errorColor: rgb(255, 175, 175);
$infoColor: rgb(255, 255, 175);

$colors: (
  "primary": $primaryColor,
  "secondary": $secondaryColor,
  "tertiary": $tertiaryColor,
  "error": $errorColor,
  "info": $infoColor,
  "blue": blue,
  "red": red,
  "yellow": yellow,
  "green": green,
  "purple": purple,
  "grey": grey,
  "black": black,
  "white": white,
);
