@import "./colors.scss";

@mixin validation() {
  color: black;
  text-decoration: none;
  padding: 5px 50px;
  width: 75%;
  font-size: 0.5em;
  border: none;
  // box-shadow: 1px 1px 10px black;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  // align-content: flex-start;
  // justify-content: flex-start;
};

.error {
  @include validation();
  background-color: $errorColor;
}
.success {
  @include validation();
  background-color: $successColor;
}
.info {
  @include validation();
  background-color: $infoColor;
}
