$primaryColor: #00735c;
$secondaryColor: #e5a298;
$tertiaryColor: #c1d9b7;
$neutralColor: rgb(240, 240, 240);
$errorColor: rgb(255, 0, 0);
$infoColor: rgb(255, 255, 0);

$colors: (
  "primary": $primaryColor,
  "secondary": $secondaryColor,
  "tertiary": $tertiaryColor,
  "error": $errorColor,
  "info": $infoColor,
  "blue": blue,
  "red": red,
  "yellow": yellow,
  "green": green,
  "purple": purple,
  "grey": grey,
  "black": black,
  "white": white,
);

@mixin btn() {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 2em;
  cursor: pointer;
  border: 0;
  display: inline-block;
};

@each $color, $val in $colors {
  .btn-#{$color} {
    @include btn();
    background-color: $val;
    &:hover {
      background-color: darken($val, 10%);
    };
    &:active, &:focus {
      background-color: lighten($val, 10%)
    }
  }
}